<div class="jumbotron">
  <h1>Sylvan Esso</h1>
  <p><a href="/">Home</a>  |  <a href="/albums">Albums</a>  |  <a href="/tickets">Tickets</a></p>
</div>
<hr>
<h3>Ticket Purchase Confirmation</h3>
<p><strong>$name</strong>, below is a confirmation of your Sylvan Esso concert ticket purchase.</p>
<p><strong>Date:</strong> $concert</p>
<p><strong>Quantity:</strong> $quantity</p>
<hr>
